:root {
    --breakpoint-3xs: 256px;
    --breakpoint-2xs: 288px;
    --breakpoint-xs: 320px;
    --breakpoint-sm: 384px;
    --breakpoint-md: 448px;
    --breakpoint-lg: 512px;
    --breakpoint-xl: 576px;
    --breakpoint-2xl: 672px;
    --breakpoint-3xl: 768px;
    --breakpoint-4xl: 896px;
    --breakpoint-5xl: 1024px;
    --breakpoint-6xl: 1152px;
    --breakpoint-7xl: 1280px;
}
