:root {
    --bg: oklch(0.169 0.042 264.695);
    --fg: oklch(0.984 0.003 247.858);

    --primary: oklch(0.6 0.118 184.704);
    --primary-fg: oklch(1 0 0);

    --primary-subtle: oklch(0.704 0.14 182.503 / 0.1);
    --primary-subtle-fg: oklch(0.855 0.138 181.071);

    --secondary: oklch(0.249 0.041 260.031);
    --secondary-fg: oklch(0.984 0.003 247.858);

    --overlay: oklch(0.208 0.042 265.755);
    --overlay-fg: oklch(0.984 0.003 247.858);

    --accent: oklch(0.279 0.041 260.031);
    --accent-fg: oklch(0.984 0.003 247.858);

    --muted: oklch(0.208 0.042 265.755);
    --muted-fg: oklch(0.704 0.04 256.788);

    --success: oklch(0.596 0.145 163.225);
    --success-fg: oklch(1 0 0);

    --success-subtle: oklch(0.696 0.17 162.48 / 0.1);
    --success-subtle-fg: oklch(0.765 0.177 163.223);

    --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
    --info-subtle-fg: oklch(0.828 0.111 230.318);

    --warning: oklch(0.828 0.189 84.429);
    --warning-fg: oklch(0.279 0.077 45.635);

    --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);
    --warning-subtle-fg: oklch(0.828 0.189 84.429);

    --danger: oklch(0.577 0.245 27.325);
    --danger-fg: oklch(0.971 0.013 17.38);

    --danger-subtle: oklch(0.637 0.237 25.331 / 0.1);
    --danger-subtle-fg: oklch(0.704 0.191 22.216);

    --border: oklch(0.346 0.043 257.281);
    --input: oklch(0.322 0.044 257.287);
    --ring: oklch(0.6 0.118 184.704);

    --navbar: oklch(0.188 0.042 265.755);
    --navbar-fg: oklch(0.984 0.003 247.858);

    --sidebar: oklch(0.208 0.042 265.755);
    --sidebar-fg: oklch(0.984 0.003 247.858);
    --sidebar-primary: oklch(0.6 0.118 184.704);
    --sidebar-primary-fg: oklch(1 0 0);
    --sidebar-accent: oklch(0.279 0.041 260.031);
    --sidebar-accent-fg: oklch(0.984 0.003 247.858);
    --sidebar-border: oklch(0.279 0.041 260.031);
    --sidebar-ring: oklch(0.6 0.118 184.704);

    --chart-1: oklch(0.511 0.096 186.391);
    --chart-2: oklch(0.704 0.14 182.503);
    --chart-3: oklch(0.777 0.152 181.912);
    --chart-4: oklch(0.855 0.138 181.071);
    --chart-5: oklch(0.91 0.096 180.426);
}
