.search-field {
    display: block;
    width: 100%;
    position: relative;
}

.search-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    isolation: isolate;
}

.search-input > .bx-search {
    position: absolute;
    left: 0.75rem;
    color: var(--muted-fg);
    font-size: 1.25rem;
    pointer-events: none;
    display: flex;
    align-items: center;
}

@media (min-width: 640px) {
    .search-input > .bx-search {
        left: 0.625rem;
        font-size: 1rem;
    }
}

.search-input > .input {
    flex: 1;
    width: 100%;
    border: 1px solid var(--input);
    border-radius: var(--radius-lg);
    padding: calc(var(--spacing-2-5) - 1px) calc(var(--spacing-3-5) - 1px);
    padding-left: 2.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: transparent;
    color: var(--fg);
    transition:
        border-color 0.2s,
        box-shadow 0.2s;
}

.search-input > .input::placeholder {
    color: var(--muted-fg);
}

.search-input > .input:focus {
    outline: none;
    border-color: color-mix(in srgb, var(--ring) 70%, transparent);
    box-shadow: 0 0 0 3px color-mix(in srgb, var(--color-ring) 20%, transparent);
}

.search-input > .btn-clear {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    color: var(--muted-fg);
    padding: 0.5rem;
    cursor: pointer;
    display: grid;
    place-content: center;
    border-radius: var(--radius-md);
    transition:
        color 0.2s,
        background-color 0.2s;
}

.search-input > .btn-clear:hover {
    color: var(--fg);
    background-color: color-mix(in srgb, var(--muted) 20%, transparent);
}

.search-input > .btn-clear:active {
    color: var(--fg);
    background-color: color-mix(in srgb, var(--muted) 30%, transparent);
}

.search-input > .btn-clear:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.search-input > .btn-clear > .bx {
    font-size: 1.25rem;
}

@media (min-width: 640px) {
    .search-input > .btn-clear {
        padding: 0.375rem;
    }
    .search-input > .btn-clear > .bx {
        font-size: 1rem;
    }
}
