@import url('https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('./reset.css');

@import url('./base/colors.css');
@import url('./base/typography.css');

@import url('./components/button.css');
@import url('./components/badge.css');
